@{
    ViewBag.Title = "Home Page";
}

<div class='header'>
    <div class="banner-info text-center">
        <span class="shortline1-1"></span>
        <span class="shortline1-2"></span>
        <span class="shortline1-3"></span>
        <h3>
            ما بهترینیم
        </h3>
        <span class="shortline2-1"></span>
        <span class="shortline2-2"></span>
        <span class="shortline2-3"></span>
        <h2>
            آینده متعلق به شرکت ماست
        </h2>
        <span class="longline1"></span>
        <span class="longline2"></span>
        <span class="longline3"></span>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
        <a href="#about" class="btn btn-default btn-lg">
            شروع به کار
        </a>
    </div>
</div>